body {
    font-family: "Oswald", serif; 
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    text-align: center;
}

/*design des elements musicaux incluant les couvertures d'albums, les cadres, les polices d'ecritures*/

img {
    width: 200px;
    height: 200px;
    margin-right: 50px;
    float: left;
    border-radius: 10px;

}

.cover1 {
    color: white;
    background: #0A1D32;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(64, 63, 63, 0);
    width: 75%;
    max-width: 100%; 
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    height: auto;
    margin: 10px 0;
    font-size: 1.2em;
    padding: 20px;

    display: inline-block; 
    vertical-align: top;   
}


.cover2{
    background: #fdf5de;
    border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(64, 63, 63, 0);
    width: 75%;
    max-width: 100%; 
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    height: auto;
    margin: 10px 0;
    font-size: 1.2em;
    padding: 20px;

    display: inline-block; 
    vertical-align: top;   
}


.cover3 {
    color: #ffffff;
    background: #10100E;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(64, 63, 63, 0);
    width: 75%;
    max-width: 100%; 
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    height: auto;
    margin: 10px 0;
    font-size: 1.2em;
    padding: 20px;
    display: inline-block; 
    vertical-align: top;   
}



.cover4{
    background: #8C1C12;
border-radius: 8px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(64, 63, 63, 0);
width: 75%;
max-width: 100%; 
overflow-wrap: break-word;
white-space: normal;
text-align: center;
height: auto;
margin: 10px 0;
font-size: 1.2em;
padding: 20px;

display: inline-block; 
vertical-align: top;   

}
.cover5{
    color: white;
    background: #a3a3a3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(64, 63, 63, 0);
    width: 75%;
    max-width: 100%; 
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
    height: auto;
    margin: 10px 0;
    font-size: 1.2em;
    padding: 20px;
    display: inline-block; 
    vertical-align: top;   
}

.cover1 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cover2 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cover3 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cover4 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cover5 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a {
    color: inherit;
    font-style: italic ;
}

/*design du formulaire*/
form {
    padding: 20px;
    text-align: center;
}


form input {
    padding: 10px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/* code pour modifier le bouton envoyer*/
#sendbutton {
    padding: 12px 75px;
    font-size: 16px;
    color: white;
    background-color: #181E40;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.7s ease, transform 0.5s ease;
}

#sendbutton:hover {
    background-color: #C4D4F2;
}

#sendbutton:active {
    transform: scale(0.95);
}


.footer {
    background-color: #C4D4F2;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    width: 100%;
    font-size: 0.9em;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.album-ajoutee {
    background-color: rgb(210, 183, 206);
    color: #000000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(64, 63, 63, 0);
    width: 500px;
    overflow: hidden;
    text-align: center;
    width: 75%;
    height: auto;
     margin: 10px 0;
    font-size: 1.2em;
display: flex;
flex-direction: column;
justify-content: flex-start; 
align-items: center;
padding: 20px;
}

.sectionaffichage {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#sendbutton  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  button {
    background: #ffffff; 
    color: rgb(0, 0, 0);
    padding: 12px 28px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  }
  button:hover {
    background-color: #c2d8f7;
  }
  
  button:active {
    transform: scale(0.95);
}

.liste-musiques{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.top-footer {
    background-color: #C4D4F2;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #ccc;
}


h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    margin: 50px 0;
    font-size: 2.5em;
    color: #ffffff;
}



/* la suite ce sont des codes et test de design qui n'ont pas abouti souvent car je ne visais pas bien les éléments*/
/* changer les design des boutons*/
/*ancien code mais ne marche pas
button {
    background-color: #181E40;  
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }*/
/*je voulais changer le design des bouton mais ça ne marche pas car je ne suis pas arriver a viser les boutons individuellement
#listeaudio {
    font-size: 10px; 
    color: white; 
    background-color: #4CAF50; 
    border: none; 
    border-radius: 8px; 
    padding: 10px 20px; 
    cursor: pointer;
    transition: all 0.3s ease; 
}

#listeaudio:hover {
    background-color: #dddaff; 
    transform: scale(0.9); */

/*
.liste-musiques {
    font-family: "Poppins", serif;
    margin-top: 50px;
    margin-left: 20px;
    position: relative;
    top: 30px;
    left: 40px;
}



.album button {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 4px;
}

.album button:hover {
    background-color: #000000;
}



audio {
    margin: 20px 0;
    display: block;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

.desc5 {
    margin-top: 10px;
    font-size: 0.9em;
    color: #555;
    display: none;
}

audio {
    display:none; 
}  
*/